<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>193338817057-lv89k5dhukq9jkaprf1fjq2u0ekooeik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.193338817057-lv89k5dhukq9jkaprf1fjq2u0ekooeik</string>
	<key>API_KEY</key>
	<string>AIzaSyDc-MBr3D-KtYXgqxi0BrGTHW1eLFy_zxk</string>
	<key>GCM_SENDER_ID</key>
	<string>193338817057</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softflight.Test</string>
	<key>PROJECT_ID</key>
	<string>fir-advance-4de1e</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-advance-4de1e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:193338817057:ios:cd9a4b6160bdc68d</string>
	<key>DATABASE_URL</key>
	<string>https://fir-advance-4de1e.firebaseio.com</string>
</dict>
</plist>